*{
    margin: 0;;
    padding: 10px;
    
}
body{
    height: 94vh;
    background-image: url(image-from-rawpixel-id-2210775-jpeg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Fjalla One', sans-serif;
}
h2,p
{
    position: relative;
    top: 40%;
    text-align: center;
    margin: 10px;
}

h2{
    font-size: 3em;
}
p{
    font-size: 1.5em;
}